#!/bin/bash

CHARGEDRES= #Residue ID of charged residue
NEUTRES=    #Residue ID of second residue involved in transfer
STATE="Neutral"
RES_TYPE="Y" #Type of residue (currently only for tyrosines(Y))
DCDFILE= #Path to DCD file
PSFFILE= #path to PSF file
V_DIR=   #path to directory with DX file 

FILENAME=ctpr8_res_"$CHARGEDRES"_exc #filename for dx files
OUTFILE="$STATE$"_"$NEUTRES"_"$CHARGEDRES"_10ps  #outputfile name

